<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Basketball Stats Tracker"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LogActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>
</manifest>